#Node modules
node_modules/

yarn-error.log
yarn.lock
.eslintcache

# Environment variables
.env

# Folder of javascript
dist/

## Frontend
/.pnp
.pnp.js

# testing
/coverage

# Npm package
package-lock.json

# production
/build
/yarn.lock
*.lock
