@media all and (min-width: 480px) {
    .Admin {
      padding: 60px 0;
    }
    .num {
        padding-left: 40px;
        font-weight: 500;
    }
    .Admin form,
    .table-categories {
      margin: 0 auto;
      max-width: 320px;
    }
    .line {
      width: 100%; 
      text-align: center; 
      border-bottom: 1.7px solid #d6dad5;
      margin: 10px 0 20px; 
   } 
   .primary {
     background-color: rgba(0, 128, 0, 0.8);
   }
   .danger {
     background-color: rgba(255, 0, 0, 0.8);
   }
   .line span { 
     color: #000;
       background:#fff; 
       padding:0 10px; 
   }
   .table-state {
     text-transform: capitalize;
   }
   .td-state {
     width: 50%;
   }
  }